<nav class="navbar">
    <div class="container">
      <a href="/" class="brand">Sistema de Cadastro</a>
      <ul class="nav-links">
        <li><a href="/">Início</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
      </ul>
    </div>
  </nav>
  